{% extends "base.html" %}
{% load static %}
{% block tittle %} carrito {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="{% static 'icons/pizza.png' %}" alt="pizza.png"> Pinocchios's w50 Pizza</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="navbar-brand">User: {{ user.username }}</a>
                <a href="/logout" style="cursor: hand;" class="navbar-brand">Log out!</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}
{% block subnavbar %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a style="cursor: hand;" href="/menu" class="nav-link active" aria-current="page"><img
                        src="{% static 'icons/menu.png' %}" alt="menu.png"> Our Menu</a>
                <a style="cursor: hand;" href="/carrito" class="nav-link active" aria-current="page"><img
                        src="{% static 'icons/carrito-de-compras.png' %}" alt="carrito.png"> Shopping Car</a>
                <a style="cursor: hand;" href="/ordenes" class="nav-link active"><img
                        src="{% static 'icons/lista-de-verificacion.png' %}" alt="lista.png"> Orders</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block main %}
<div style="margin-top:2rem;margin-bottom:2rem;" class="container">
    <h4>Your Shopping Car:</h4>
    {% for item in items %}
        <div style="margin-top:1rem;" class="p-4 border bg-light">
            <div class="row g-0">
                <div class="col-sm-6 col-md-10">
                    <div>
                        <p>Items: {{item.items}}</p>
                        <p>Quantity: {{item.cantidad}}</p>                        
                        <p>Fecha: {{item.fecha_items}}</p>                                           
                    </div>                    
                </div>
                <div class="col-6 col-md-2">
                    <button style="border: none; background:transparent; margin:2.5rem;">
                        <img src="https://cdn-icons-png.flaticon.com/512/3096/3096673.png" width="26px" height="32px"
                            alt="eliminar.png">
                    </button>
                </div>
                <div style="justify-content: right;text-align:right">
                    <p id="subtotal"><strong>Sub-Total: </strong>{{item.price_items}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if items %}
    <div style="justify-content: right;text-align:right;margin:2rem;">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit" class="btn btn-primary">Buy</button>
    </div>
    {% else %}
    <div style="justify-content: center;text-align:center">
        <p>Your items will be displayed here, Add to cart!</p>
    </div>
    {% endif %}
    
</div>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h6 id="staticBackdropLabel">Confirm Order</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Establish order?</p>
              </div>
            <div class="modal-footer">
                <form method="POST">{% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>  
    </div>
</div>
{% endblock %}