{% extends 'base.html' %}
{% block tittle %}Inicio{% endblock %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="{% static 'icons/pizza.png' %}" alt="pizza.png"> Pinocchios's w50 Pizza</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if user.is_authenticated %}                
                    <a class="nav-link active" aria-current="page">Home</a>
                    <a class="nav-link" href="/menu"><img
                        src="{% static 'icons/menu.png' %}" alt="menu.png"> Our Menu</a>
                    <a class="nav-link">User: {{user.username}}</a>
                {% else %}
                    <a class="nav-link active" aria-current="page">Home</a>
                    <a class="nav-link" href="/menu"><img
                        src="{% static 'icons/menu.png' %}" alt="menu.png"> Our Menu</a>
                    <a class="nav-link" href="/register">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div style="margin-top:2rem;margin-bottom:2rem;" class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-4 border bg-light">
                <img src="http://www.pinocchiospizza.net/images/building3.jpg" alt="Sitio.png">
            </div>
        </div>
        <div class="col">
            <div class="p-4 border bg-light">
                <h4>Log in!</h4>
                <form method="POST">
                {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Username" required>
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button style="margin-top: 1rem;" type="submit" class="btn btn-primary">Let's go!</button>
                </form>                
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block footer %}
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">© Todos los derechos reservados. Project 3 by Milton x Web50x.ni, 2021</a>
        <a class="navbar-brand" href="https://www.facebook.com/milton.vilchezstockhausen/"><img src="{% static 'icons/facebook.png' %}" alt="Facebook.png"></a>
        <a class="navbar-brand" href="https://www.instagram.com/miltonvilc"><img src="{% static 'icons/instagram.png' %}" alt="Instagram.png"></a>
        <a class="navbar-brand" href="https://www.linkedin.com/in/milton-vílchez-183925157/"><img src="{% static 'icons/linkedin.png' %}" alt="LinkedIn.png"></a>
        <a class="navbar-brand" href="https://github.com/MiltonVilchez"><img src="{% static 'icons/signo-de-github.png' %}" alt="GitHub.png"></a>
    </div>
</nav>
{% endblock %}