{% extends "base.html" %}
{% block tittle %} menu {% endblock %}
{% load static %}

{% block head_css %}

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navmil">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'icons/pizza.png' %}" alt="pizza.png"> Pinocchios's w50
      Pizza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <a class="navbar-brand">User: {{ user.username }}</a>        
        <a href="/logout" style="cursor: hand;" class="navbar-brand">Log out!</a>
        {% else %}
        <a href="/" style="cursor: hand;" class="navbar-brand">Log in</a>
        <a style="cursor: hand;" class="navbar-brand" href="/register">Register</a>
        {% endif %}
      </div>
    </div>
</nav>
{% endblock %}

{% block subnavbar %}
{% if user.is_authenticated %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="cursor: hand;" href="/carrito" class="nav-link active" aria-current="page"><img
            src="{% static 'icons/carrito-de-compras.png' %}" alt="carrito.png"> Shopping car</a>
        <a style="cursor: hand;" href="/ordenes" class="nav-link active"><img
            src="{% static 'icons/lista-de-verificacion.png' %}" alt="lista.png"> Orders</a>
      </div>
    </div>
  </div>
</nav>
{% endif %}
{% endblock %}

{% block main %}
<div class="container">
  <div style="margin-top:2rem;" class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/regularPizza.jpg' %}" class="card-img-top" alt="RegularPizza.png">
          <div class="card-body">
            <h5 class="card-title">Regular Pizza</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-whatever="Regular Pizza" data-type="Regular">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/SicilianPizza.jpg' %}" class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Sicilian Pizza</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-whatever="Sicilian Pizza" data-type="Regular">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/Subs.jpg' %}" class="card-img-top" alt="Subs.png">
          <div class="card-body">
            <h5 class="card-title">Subs</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="/subs" class="btn btn-primary">Choose</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/Pasta.jpg' %}" class="card-img-top" alt="Pasta.png">
          <div class="card-body">
            <h5 class="card-title">Pasta</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="/pasta" class="btn btn-primary">Choose</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/Salads.jpg' %}" class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Salads</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="/salads" class="btn btn-primary">Choose</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/DinnerPlates.jpg' %}" class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Dinner Platters</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="/dinners" class="btn btn-primary">Choose</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/SpecialRPizza.jpg' %}" class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Special Regular Pizza </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-whatever="Special Regular Pizza" data-type="Special">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/SpecialSPizza.jpg' %}" class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Special Sicilian Pizza</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-whatever="Special Sicilian Pizza" data-type="Special">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="nameuser" style="display: none;" value="{{ user.username }}">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input style="display: none;" name="nametitle" class="valueTitle" type="text" value="">
            <label>Quantity: </label><input type="number" value="1" width="auto" min="1" max="15" name="Cantidad"
              id="Pcantidad">
            <br><label>Size: </label>
            <div  class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="Small" checked>
              <label class="form-check-label" for="exampleRadios1">
                Small
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="Large">
              <label class="form-check-label" for="exampleRadios2">
                Large
              </label>
            </div>
            <p id="letters"><small>If you want, you can add 3 toppings:</small></p>
            <!-- Aqui el for de los toppings -->
            <div style="column-count: 3;">
              <p style="padding:0;" id="pbody">
                {% for top in Toppings %}
              <div class="form-check">
                <input name="Toppings" class="form-check-input" type="checkbox" value="{{top}}" id="opciones"
                  onchange="Desabilita(this)">
                <label class="form-check-label" for="flexCheckChecked">
                  {{top}}
                </label>
              </div>
              {% endfor %}
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  {% endblock %}