{% extends "base.html" %}
{% block tittle %} menu {% endblock %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'icons/pizza.png' %}" alt="pizza.png"> Pinocchios's w50 Pizza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
          <a class="navbar-brand">User: {{ user.username }}</a>
          <a style="cursor: hand;" class="navbar-brand">Log out!</a>
        {% else %}
          <a href="/" style="cursor: hand;" class="navbar-brand">Log in</a>
          <a style="cursor: hand;" class="navbar-brand" href="/register">Register</a>
        {% endif %}
      </div>
    </div>
</nav>
{% endblock %}

{% block subnavbar %}
{% if user.is_authenticated %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="cursor: hand;" href="/carrito" class="nav-link active" aria-current="page"><img src="{% static 'icons/carrito-de-compras.png' %}" alt="carrito.png"> Shopping car</a>
        <a style="cursor: hand;" href="/ordenes" class="nav-link active"><img src="{% static 'icons/lista-de-verificacion.png' %}" alt="lista.png"> Orders</a>
      </div>
    </div>
  </div>
</nav>
{% endif %}
{% endblock %}

{% block main %}
<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/regularPizza.jpg' %}"
            class="card-img-top" alt="RegularPizza.png">
          <div class="card-body">
            <h5 class="card-title">Regular Pizza</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/SicilianPizza.jpg' %}"
            class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Sicilian Pizza</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/Subs.jpg' %}"
            class="card-img-top" alt="Subs.png">
          <div class="card-body">
            <h5 class="card-title">Subs</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img
            src="{% static 'images/Pasta.jpg' %}"
            class="card-img-top" alt="Pasta.png">
          <div class="card-body">
            <h5 class="card-title">Pasta</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img
            src="{% static 'images/Salads.jpg' %}"
            class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Salads</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img
            src="{% static 'images/DinnerPlates.jpg' %}"
            class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Dinner Platters</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img
            src="{% static 'images/SpecialRPizza.jpg' %}"
            class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Special Regular Pizza </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img
            src="{% static 'images/SpecialSPizza.jpg' %}"
            class="card-img-top" alt="SicilianPizza.png">
          <div class="card-body">
            <h5 class="card-title">Special Sicilian Pizza</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <button class="btn btn-primary">Add to cart!</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}